<header class="masthead">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="main-nav">
      {%- comment -%}
        Look for navigation data in the user's site first.
        If it doesn't exist, use the theme's default data.
      {%- endcomment -%}
      {%- assign nav_links = site.data.navigation | default: theme.data.navigation -%}

      {%- for link in nav_links -%}
        <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>